.main {
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
}

.top {

    align-self: center;
    background-color: #291400;

    display: flex;

    flex-direction: row;

    justify-content: center;

    width: 100%;

    height: 10%;
}

.logo {
    flex-direction: row;
    display: flex;
    align-items: center;

}

.name {
    margin-left: 1.5%;

}

.name h1 {

    color: white;

}

/* ================================================================================================= */

.shop {
    margin-top: 2.5%;
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-color: black;
    justify-content: center;

}

.left {
    color: brown;
}

.right {
    display: flex;
    flex-direction: column;
    border-color: red;
    width: 50%;
    height: 100%;
    margin-left: 0%;

}

.items {
    display: flex;
    flex-direction: column;
    background-color: khaki;
    width: 50%;
    height: 100%;
    border-radius: 30 px;

}

.it {

    height: 100%;
    padding: 1%;
}

.cappucino {
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 2px solid brown;

}

.cappucino1 {

    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 2px solid brown;
}

.croisant {

    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 2px solid brown;
}

.unit {
    padding-top: 0.5%;
    width: 10%;
}

.product {
    height: 20%;
    width: 80%;
    padding-top: 0.5%;
}

.price {

    height: 50%;
    width: 10%;
}

.subproduct {
    height: 90%;
    color: brown;
}

/* ======================right side ========================================= */

.right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

legend {
    color: brown;
}

.Name {
    background-color: khaki;
    margin: 1%;
    height: 30%;
    width: 96%;
    padding: 0.5%;
    border-radius: 10px;

}

.Name h3 {
    color: brown;
    padding-left: 4%;
}

.order {
    height: 20%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    border: 1px solid brown;
}

.payment {
    background-color: khaki;
    margin: 1%;
    width: 96%;
    height: 60%;
    justify-content: space-evenly;
    border-radius: 10px;
}

.payment h3 {
    color: brown;
    padding-left: 4%;
}

.card {
    height: 30%;

}

.cardno {
    height: 50%;
    border-radius: 30px;
    border: 1px solid brown;

}


.cvv {
    height: 15.5%;
}

.cvvfield {
    height: 100%;
    border-radius: 30px;
    width: 30%;
    border: 1px solid brown;
}

.Bill {

    height: 30%
}

.bill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.subtotal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;

}

.tax {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
}

.total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
}


.final {
    display: flex;
    justify-content: center;
    width: 80%;
    background-color: peru;
    border-radius: 30px;
}